/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.menu-s1 {
  background-position: right !important;
}

/* line 7, ../sass/partials/_modules.scss */
.contact-s3 {
  background-blend-mode: multiply !important;
  background-color: #777 !important;
}

/* line 13, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}

/* line 17, ../sass/partials/_modules.scss */
nav {
  z-index: 10;
}

@media all and (max-width: 767px) {
  /* line 23, ../sass/partials/_modules.scss */
  .about-s1, .about-s2, .about-s3, .story-s1, .story-s2, .story-s3 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 24, ../sass/partials/_modules.scss */
  .about-s1 *, .about-s2 *, .about-s3 *, .story-s1 *, .story-s2 *, .story-s3 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 33, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 34, ../sass/partials/_modules.scss */
  .contact-s1 *, .contact-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 41, ../sass/partials/_modules.scss */
  .contact-s1 {
    background-position: right !important;
  }

  /* line 46, ../sass/partials/_modules.scss */
  .index-s1, .menu-s1 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }

  /* line 52, ../sass/partials/_modules.scss */
  .navbar-toggler {
    background-color: #555;
    border-color: #333;
  }
  /* line 56, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #555;
    border: 1px solid #333;
    opacity: 0.9;
    padding: 10px;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s1 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.story-s1 {
  background-attachment: scroll;
  background-image: url(../img/story/story-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.story-s2 {
  background-attachment: scroll;
  background-image: url(../img/story/story-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.story-s3 {
  background-attachment: scroll;
  background-image: url(../img/story/story-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
