.menu{
    &-s1{
        background-position: right!important;
    }
}
.contact{
    &-s3{
        background-blend-mode: multiply !important;
        background-color: #777 !important;
    }
}
.text{
    &-shadow{
        text-shadow: $text-shadow;
    }
}
nav{
    z-index: 10;
}

@media all and (max-width: 767px){
    .about,.story{
        &-s1,&-s2,&-s3{
            * {
                color: #fff!important;
                text-shadow: $text-shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
    }
    .contact{
        &-s1,&-s2{
            * {
                color: #fff!important;
                text-shadow: $text-shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .index,.menu{
        &-s1{
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
    }
    .navbar{
        &-toggler{
            background-color: #555;
            border-color: #333;
        }
        &-nav{
            background-color: #555;
            border: 1px solid #333;
            opacity: 0.9;
            padding: 10px
        }
    }
}