$prefix: "../";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__menu-img: $prefix+"img/menu/menu-s1.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__story-img: 
    $prefix+"img/story/story-s1.jpg",
    $prefix+"img/story/story-s2.jpg",
    $prefix+"img/story/story-s3.jpg";
$bg__classes:
    "comingsoon",
    "contact",
    "error",
    "index",
    "menu",
    "privacy",
    "story";
$bg__aoa:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__menu-img,
    $bg__privacy-img,
    $bg__story-img;
$color__shadow: #333;
$text-shadow: 1px 1px 3px $color__shadow; 